$darkblue: #131313;
$gray: #818189;
$orange: #f29c1d;
$whiteish: #fdfbfb;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    
}
#root {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}
html {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: $whiteish;
    overflow: hidden;
    .topNav {
        height: 10vh;
        background-color: $whiteish;
        width: 100vw;
        font-family: 'Dancing Script', cursive;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        color: $darkblue;
        gap: 8vh;
        margin-top: 5vh;
        .fa {
            font-size: 4vh;
            
        }
        h1 {
            background-color: none;
        }
        .ShoppingCartHolder {
            .Counter {
                position: absolute;
                height: 4vh;
                width: 4vh;
                right: 6.5vh;
                z-index: 1;
                border-radius: 100%;
                border: .1vh solid $darkblue;
                color: $darkblue;
                font-size: 1vh;
                font-weight: 700;
               
                h1 {
                    margin-top: .7vh;
                }
                
            }

            &:hover {
                cursor: pointer;
            }

        }
        .cart {
            position: absolute;
            background-color: $darkblue;
            opacity: 0.9;
            min-width: 100vw;
            min-height: 200vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            .cart--Nav {
                min-height: 20px;
                min-width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-size: 4vh;
                gap: 14vh;
                color: $whiteish;
                padding: 0px 0px;
                margin-left: 7vh;
                padding-top: 10vh;
                font-weight: 200;
                .empty--button {
                    background-color: $darkblue;
                    color: $whiteish;
                    
                    opacity: 1;
                    outline: none;
                    border: none;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .pay--button {
                background-color: $whiteish;
                outline: none;
                border: none;
                position: fixed;
                bottom: 5%;
                color: $darkblue;
                width: 90vw;
                
                height: 5vh;
            }
            .price--container {
                height: auto;
                width: auto;
                font-size: 2.8vh;
                color: $whiteish;
                p {
                    font-family: 'IBM Plex Sans', sans-serif;
                    font-weight: bold;
                }
            }
        }
    }
    .categories {
        height: auto;
        padding: 2vh 2vh;
        display: flex;
        flex-direction: row;
        gap: 2vh;
        overflow-y: hidden;
        overflow-x: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        
        .Categorie {
            height: auto;
            width: auto;
            padding: .5vh 3vh;
            border: 1vh solid $gray;
            border-radius: 3vh;
            outline: none;
            color: $darkblue;
        }
    }

    .items-grid{
        height: 80vh;
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));

        @media (min-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
            
        }
        grid-gap: 2vh;
        overflow-y: auto;
        
        .item {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Two columns with equal width */
            gap: 2vh; /* Gap between the two items */
            padding: 1vh;
            border-radius: 1vh;
            max-width: 80vw;
            margin: 0 auto;
            .right-block {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 2.5vh;
            }
            .left-block {
                height: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .name-desc {
                display: flex;
                flex-direction: column;
                gap: 1vh;
            }
            .product--name {
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 600;
                font-size: 2.2vh;
                text-align: left;
            }
            .product--desc {
                font-size: 2vh;
                line-height: 2.2vh;
                text-align: left;
                font-family: 'IBM Plex Sans', sans-serif;
            }

            .add--To--Cart {
                width: 100%;
                padding: 0.5vh 0vh;
                align-items: center;
                background-color: $darkblue;
                color: $whiteish;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: bold;
                outline: none;
                border: none;
            }
        }

         img {
            max-width: 100%;
          }
          
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
    }
    .es {
        height: 15vh;
        min-width: 100vw;
        
    }

}